[Unit]
Description=External Drive Mount Monitor
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash <MAKE_PWD>/drive_monitor.sh
SupplementaryGroups=
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target